@import "../shared/range-progress-slider";

.horizontal-range {
  @extend .range-progress-slider__root;
  width: 8rem;
  height: 1rem;

  &__input {
    @extend .range-progress-slider__input;
  }

  &__knob {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(1rem - 2px);
    height: calc(1rem - 2px;
    background-color: white;
    border-color: #333;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;

    &--focus {
      border-color: blue;
      background-color: lightblue;
    }
    &--disabled {
      border-color: #ccc;
    }
  }

  &__track {
    position: absolute;
    top: 0.35rem;
    left: 0;
    width: 100%;
    height: $track-width;
    border-radius: 0.2rem;
    background-color: $track-color;
    overflow: hidden;

    &--focus {
      background-color: $track-color--focus;
    }

    &-progress {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: #333;

      &--focus {
        background-color: blue;
      }
      &--disabled {
        background-color: #ccc;
      }
    }
  }
}
