@import "../shared/range-progress-slider";

.circular-range {
  @extend .range-progress-slider__root;
  width: 8rem;
  height: 8rem;

  &__input {
    @extend .range-progress-slider__input;
  }

  &__grfx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__track {
    fill: none;
    stroke: $track-color;
    stroke-width: $track-width;

    &--focus {
      stroke: $track-color--focus;
    }
  }

  &__knob {
    stroke: #000;
    stroke-width: 1px;
    fill: white;
  }
}
